(common) {
    header /* {
        -Server
    }
}

# 301 redirect www to non-www (canonical domain)
www.ferrydirect.nl {
    redir * https://ferrydirect.nl{uri} permanent
}

ferrydirect.nl {
    root * /srv

    import common

    encode gzip zstd
    file_server
    try_files {path} {path}/ /404.html
}
