<header>
  <div id="header-sticky" class="header-1">
    <div class="container-fluid">
      <div class="mega-menu-wrapper">
        <div class="header-main style-2">
          <div class="header-left">
            <div class="logo">
              <a href="{{ "" | relLangURL }}" class="header-logo">
                <img src="/img/logo/white-logo.svg" alt="FerryDirect" width="170" height="43" />
              </a>
            </div>
          </div>
          <div class="header-right d-flex justify-content-end align-items-center">
            <button type="button" class="header__hamburger d-lg-none btn border-0 p-2 ms-2" aria-label="Menu" id="menu-toggle">
              <i class="fa fa-bars"></i>
            </button>
            <div class="mean__menu-wrapper d-lg-block d-none" id="main-nav-wrapper">
              <div class="main-menu">
                <nav id="mobile-menu">
                  <ul>
                    <li><a href="{{ "bestemmingen/" | relLangURL }}">Bestemmingen</a></li>
                    <li><a href="{{ "schepen/" | relLangURL }}">Schepen</a></li>
                    <li><a href="{{ "rederijen/" | relLangURL }}">Rederijen</a></li>
                    <li><a href="{{ "blog/" | relLangURL }}">Blog</a></li>
                    <li><a href="{{ "over-ons/" | relLangURL }}">Over ons</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
